@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 400px) {
  .mainImage {
    width: 250px;
    padding: 0 10px;
    border-radius: 0px;
  }

  .allImages {
    width: 200px;
  }

  .arrow {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .mainImage {
    width: 300px;
    padding: 0 10px;
    border-radius: 0px;
  }

  .allImages {
    width: 700px;
  }

  .arrow {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .mainImage {
    width: 500px;
    padding: 0 10px;
    border-radius: 0px;
  }

  .allImages {
    max-width: 100px;
  }

  .arrow {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .arrow {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1620px) {
  .allImages {
    width: 120px;
  }

  .arrow {
    display: block;
    width: 100%;
  }
}